:root {
  --max-width: min(90vw, 80vh);
}

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "VT323", monospace;
  z-index: 10;
}

nav button {
  color: white;
  padding: 5px 10px;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

nav button:hover {
  -webkit-box-shadow: 0px 0px 15px 7px #ffffff;
  box-shadow: 0px 0px 15px 7px #ffffff;
}

nav h2 {
  font-size: 2.2em;
  align-self: center;
  color: white;
  text-transform: uppercase;
}

nav.flex_row {
  margin: 0px;
  padding: 10px;
  background-color: black;
}

table {
  border-spacing: 0;
  border: 5px solid black;
}

.cell {
  --boxes-size: min(calc(var(--max-width) / var(--grid-size)), 50px);
  width: max(var(--boxes-size), 10px);
  height: max(var(--boxes-size), 10px);
  min-width: 5px;
  min-height: 5px;
}

.board {
  border: 1px solid gray;
}

.flex_row .cell {
  border: 1px solid black;
}

.flex_row .cell.active {
  border: 5px solid yellow;
  transform: rotateZ(45deg);
}

.active i.fas.fa-eraser.fa-3x {
  background-color: white;
  mix-blend-mode: overlay;
  transform: scale(70%) rotateZ(-45deg) translateY(-10px);
}

.flex_row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 10px;
}

.three_columns {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
}

.actions {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

h1 {
  text-align: center;
}

.gallery table {
  width: 350px;
  height: 350px;
}

.gallery h2 {
  text-align: center;
}

.main_about_grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  /* width: 100%; */
  background-color: white;
}

.about_box {
  border: 5px solid black;
  box-shadow: inset 0px 0px 28px gray;
  min-width: 24vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: space-around;
  padding: 10px;

  background-color: white;
}

a.about_box {
  padding: 0px;
}

.about_box img {
  max-width: 80%;
  max-height: 80%;
  align-self: center;
}

.about_box h2 {
  font-size: 3em;
  text-align: center;
}

/* About Page */
.contact_links {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.contact_links a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.contact_links img {
  width: 70%;
  margin: 1em;
  justify-self: center;
}

.contact_links img:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.about_box table {
  width: 90%;
  align-self: center;
  height: 90%;
  max-width: 24vw;
  max-height: 24vw;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
}

.header a {
  text-align: center;
}

.title {
  font-size: min(10em, 15vw);
}

.sub_title a {
  color: black;
  text-decoration: unset;
  text-transform: uppercase;
}

.sub_title {
  font-size: min(3em, 5vw);
  padding: 10px;
  background-color: unset;
  width: max-content;
  align-self: center;
  margin: 15px;
}

.sub_title:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: white;
}

.colorful_cell {
  width: calc(98vw / 25);
  max-width: 4vw;
  height: 4vw;
}

.colorful_grid {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(5, 1fr);
  position: absolute;
  top: 4vw;
  left: 0;
  width: 90%;
  z-index: 1;
}

.actions button {
  padding: 10px;
  font-size: 2em;
}
.board_size {
  padding: 10px;
  font-size: 1.2em;
}

.newColorPicker {
  text-transform: uppercase;
  font-size: 1em;
}

.actions button:hover,
.newColorPicker:hover,
.board_size:hover,
.login_form button:hover,
.login_form p:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
.flex_row h3 {
  font-size: 2em;
}

form,
input {
  font-size: 1.3em;
}

.page_title {
  font-size: 5em;
}

.image_title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.login_form {
  border: 4px solid black;
  display: flex;
  flex-flow: column nowrap;
  width: 450px;
  margin: 50px auto;
  padding: 10px;
}

.login_form span {
  color: red;
}

.login_form button {
  text-transform: uppercase;
  font-size: 1em;
  margin: 10px;
}

.login_form p {
  align-self: center;
  padding: 10px;
}
.error_message {
  color: red;
  text-transform: uppercase;
  font-size: 1.2em;
}

.row_two {
  grid-row: 2;
}

.row_three {
  grid-row: 3;
}
