:root {
  --max-width: min(90vw, 80vh);
}

table {
  border-spacing: 0;
  border: 5px solid black;
}

.cell {
  --boxes-size: min(calc(var(--max-width) / var(--grid-size)), 50px);
  width: max(var(--boxes-size), 10px);
  height: max(var(--boxes-size), 10px);
  min-width: 5px;
  min-height: 5px;
}

.cell.board,
.pallette .cell {
  border: 1px solid black;
}

.pallette .cell.active {
  border: 5px solid yellow;
  transform: rotateZ(45deg);
}

.pallette {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
