:root {
  --max-width: min(90vw, 80vh);
}

table {
  border-spacing: 0;
  border: 5px solid black;
}

.cell {
  --boxes-size: min(calc(var(--max-width) / var(--grid-size)), 50px);
  width: max(var(--boxes-size), 10px);
  height: max(var(--boxes-size), 10px);
  min-width: 5px;
  min-height: 5px;
}

.cell.board {
  border: 1px solid gray;
}
.flex_row .cell {
  border: 1px solid black;
}

.flex_row .cell.active {
  border: 5px solid yellow;
  transform: rotateZ(45deg);
}

.active i.fas.fa-eraser.fa-3x {
  background-color: white;
  mix-blend-mode: overlay;
  transform: scale(70%) rotateZ(-45deg) translateY(-10px);
}

.flex_row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 10px;
}

.three_columns {
  display: grid;
  grid-template-columns: 2fr auto 1fr;
  grid-template-rows: 1fr;
}

.actions {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
