.cell {
  width: 50px;
  height: 50px;
  border: 2px solid black;
}

.active {
  border: 5px solid yellow;
  transform: rotateZ(45deg);
}

.pallette {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
