:root {
  --max-width: min(90vw, 80vh);
}

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "VT323", monospace;
}

table {
  border-spacing: 0;
  border: 5px solid black;
}

.cell {
  --boxes-size: min(calc(var(--max-width) / var(--grid-size)), 50px);
  width: max(var(--boxes-size), 10px);
  height: max(var(--boxes-size), 10px);
  min-width: 5px;
  min-height: 5px;
}

.board {
  border: 1px solid gray;
}

.flex_row .cell {
  border: 1px solid black;
}

.flex_row .cell.active {
  border: 5px solid yellow;
  transform: rotateZ(45deg);
}

.active i.fas.fa-eraser.fa-3x {
  background-color: white;
  mix-blend-mode: overlay;
  transform: scale(70%) rotateZ(-45deg) translateY(-10px);
}

.flex_row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 10px;
}

.three_columns {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
}

.actions {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

h1 {
  text-align: center;
}

.gallery table {
  width: 350px;
  height: 350px;
}

.gallery h2 {
  text-align: center;
}

.main_about_grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  width: 100%;
}

.about_box {
  border: 5px solid black;
  box-shadow: inset 0px 0px 28px gray;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: space-around;
  padding: 10px;
}

a.about_box {
  padding: 0px;
}

.about_box img {
  max-width: 80%;
  max-height: 80%;
  align-self: center;
}

.about_box h2 {
  font-size: 3em;
  text-align: center;
}

/* About Page */
.contact_links {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.contact_links a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.contact_links img {
  width: 70%;
  margin: 1em;
  justify-self: center;
}

.contact_links img:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.about_box table {
  width: 90%;
  align-self: center;
  height: 90%;
}

/*
#photoOfMe {
  -webkit-box-shadow: 2px 2px 15px 2px #000000;
	box-shadow: 2px 2px 15px 2px #000000;
}

.about_row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}

.about_row h2 {
	font-size: 3em;
  text-align: center;
}

#tech_used {
	padding: 1em;
	margin: 1em;
	border: 10px solid #ffa500;
	background-color: #ffe4b2;
	display: flex;
	flex-flow: column nowrap;
	height: 85%;
} */
